@import './utils/variables';
@import './utils/reset';
@import './components/container';
@import './components/section';
@import './components/body';
@import './components/img';
@import './components/link';
@import './utils/hidden';

@import './layout/header';
@import './layout/hero';
@import './layout/excellence';
@import './layout/work';
@import './layout/team';
@import './layout/client';
@import './layout/footer';
@import './layout/portfolio';

@import './components/modal';
