.hero {
  padding: 200px 0px;
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--background-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imeges/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.btn {
  width: 200px;
  height: 50px;
  margin: auto;

  align-items: center;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;

  &:focus,
  &:hover {
    color: var(--main-title-color);
    background-color: var(--accent-color);
  }
}
