.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 750ms, visibility 750ms;
}

.backdrop.is-hidden .modal {
  transform: scale(-1.5) translateY(-1000px);
  transition: transform 750ms, visibility 750ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--background-origin);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;

  transform: scale(-1) translateY(0);
  transition: transform 750ms;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: var(--background-origin);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.modal-form-input {
  display: block;

  width: 100%;
  height: 40px;

  padding-left: 42px;
  padding-right: 15px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: 500;
  font-size: 18px;
  color: var(--main-text-color);

  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    & + .input-icon {
      fill: var(--accent-color);
    }
  }
}

.form-input-text {
  display: block;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.modal-form-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.input-wrap {
  margin-top: 4px;
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-field {
  margin-top: 20px;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  margin-right: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  fill: var(--main-title-color);
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.contract {
  margin-left: 2px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__btn {
  margin-top: 30px;
}
