:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --background-origin: #ffffff;
  --background-footer: #2f303a;
  --background-team: #f5f4fa;
  --background-hero: #2f303a;
  --icon-color: #afb1b8;

  --filter-gap: 30px;

  --speed: cubic-bezier(0.4, 0, 0.2, 1);
}
